[package]
name = "bootloader"
version = "0.1.0"
edition = "2021"

[dependencies]
log = "0.4.28"
uefi = { version = "0.36.1", features = ["logger", "panic_handler"] }

[profile.dev]
panic = "abort"
[profile.release]
panic = "abort"
